# Python stuff
__pycache__/
*.py[cod]
*.pyo
*.pyd
.DS_Store

# Latex stuff
build/
*.aux
*.bbl
*.blg
*.fdb_latemk
*.fls
*.log
*.gz
%OUTDIR%/

# Data directories
thoraxCT/
ds001499/

# Raw data
*.raw
*.mat

